:root{
    --cor-fundo:#b3bfb8;
    --cor-principal: rgb(113, 241, 162);
    --cor-secundaria:#f0f7f4;
    --cor-destaque:#1b2845;
    --cor-texto:black;
}

body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.caixa-principal{
    background-color: var(--cor-fundo);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
}

h1{
    color: var(--cor-destaque);
}


button{
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 15px;
    padding: 15px;
    transition: background-color 0.3;
}

button :hover{
    background-color:var(--cor-destaque);
    color: var(--cor-principal);
}